doctype html

html
    head
        style(type="text/css").
            * {
                font-family: Arial, Helvetica, sans-serif;
            }
            
            #container {
                display: flex;

                align-items: center;
                justify-content: center;

                height: 100vh;
            }
        script(src="/socket.io/socket.io.js")

        link(rel="icon" href="favicon.ico" type="image/x-icon")
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")

        title Scandium 2

        meta(content="Scandium" property="og:title")
        meta(content="Web-based discord client." property="og:description")
        meta(content="https://embed.com/scandium-2.herokuapp.com" property="og:url")
        meta(content="#A3A6E8" data-react-helmet="true" name="theme-color")

    body
        div(id="container")
            a(href="https://docs.google.com/document/d/1jsoH_Kj6qTVLUR03BDiIFUnNI919I3jO-jD_u2hwZUY/edit?usp=sharing") READ ME BEFORE USE
            br
            form(action="/connect", method="POST")
              label(for = "username") User ID 
              br
              input(type='text', name='userID', id='userinput')
              br
              label(for = "server") Server 
              small (Fill in the "User ID" field, and your servers will show up here) 
              br
              select(name='server', id="serverselect")
              br
              label(for = "password") Password 
              br
              input(type='password', name='password')
              br
              button(type="submit") Login

        script.
            const socket = io();
            const userinput = document.querySelector("#userinput");
            const serverinput = document.querySelector("#serverselect");
            
            serverinput.onload = function() {
                try {
                    socket.emit("populate_server_dropdown", userinput.value);
                } catch(e) {console.log(e)};
            }
            
            userinput.addEventListener('change', (event) => {
                try {
                    socket.emit("populate_server_dropdown", userinput.value.trim());
                    
                } catch(e) {console.log(e)};
            });

            socket.on("servers", servers => {
                serverinput.innerHTML = '';

                for (var s of servers) {
                    var server = document.createElement("option");
                    server.text = s[0]; 
                    server.value = s[1];
                    server.style.width = server.style.width;
                    serverinput.appendChild(server);
                }
            });


